<!-- Describe task in general -->

<p>
    Sie müssen die Anzahl der Ziffern in einer gegebenen Zeichenkette zählen.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zeichenkette.
</p>

<p>
   <strong>Ausgabe:</strong> {% if is_js %}Zahl{% else %}Integer{% endif %}. 
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

